.question {
  font-weight: 600;
  margin-bottom: 1rem;
}

.question_container {
  margin-bottom: 1rem;
}

.answer {
  margin-bottom: 3rem;
}

.contact_steps {
  text-align: left;
}

.contact_steps li {
  padding: 1rem 0;
}

.rate_list li {
  padding: 4px 0;
}

.link {
  color: #1c8cf2;
}

.margin_right {
  margin-right: 4px;
}

.inline {
  display: inline;
}
@media (min-width: 800px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .question_container {
    width: 50%;
    padding: 2rem;
  }

  .answer {
    margin-bottom: 1rem;
  }

  .howitworks {
    display: flex;
    justify-content: center;
  }
}
