.paragraph {
  color: blue;
  text-align: center;
  padding-top: 250px;
}

.section_heading {
  font-family: 'Kalam', cursive;
  font-size: 1.75rem;
  line-height: 1.2;
  color: #3b0404;
  margin: 4% 0;
}

.section {
  padding-top: 100px;
  color: #383838;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
}
