.footer {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 2%;
  background: white;
}

.social_media_list {
  text-align: center;
  margin: 12px;
}

.social_media_list a {
  padding: 1.5rem;
}

.footer_nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 350px;
  transition: all 0.5s ease;
  text-align: center;
  color: #676767;
  font-size: 14px;
}

.footer_navtwo {
  margin: 16px;
}

.nav_links {
  color: #676767;
  font-size: 0.8rem;
  padding: 1rem 1rem;
}

.logo_address {
  display: flex;
  color: #676767;
}

.logo {
  margin-right: 2rem;
}

.address {
  font-size: 12px;
}
