.footer {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 2%;
  background: white;
}

.social_media_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  margin: 12px;
}

.social_media_list a {
  display: block;
  margin: 1rem;
}

.footer_nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 350px;
  transition: all 0.5s ease;
  text-align: center;
  color: #676767;
  font-size: 14px;
}

.footer_navlegal {
  margin: 16px;
}

.nav_links {
  color: #676767;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem 1rem;
}

.logo_address {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  color: #676767;
}

.logo {
  margin-right: 2rem;
}

.address {
  font-size: 12px;
}

.link_active,
.nav_links:hover {
  color: #ff5a5f;
}
