.signature {
  margin: 30px 0;
}

.signature span {
  font-weight: bold;
  margin-right: 12px;
}

.paragraph span {
  color: #36454f;
  font-weight: 600;

  /* background: #fbf719; */
  border-radius: 12px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.intro_image_container {
  margin-top: 2rem;
}

.paragraph {
  margin-bottom: 2rem;
}

.image {
  border-radius: 1rem;
}

.middle_content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.margin_top {
  margin-top: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .flex {
    display: flex;
    padding: 0 30px;
  }

  .flex_reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .content {
    width: 50%;
  }

  .intro_image_container {
    width: 50%;
    margin-top: 0;
    border-radius: 1rem;
  }
  .imageNate {
    margin-top: 0;
  }
}
