.paragraph {
  color: green;
  text-align: center;
  margin-top: 250px;
}

.reviews_widget {
  margin-top: 200px;
  max-width: 320px;
  background: beige;
  border-radius: 10px;
  padding: 20px;
}

.widget_top {
  display: flex;
  justify-content: space-between;
}

.name_image {
  display: flex;

  margin-bottom: 8px;
}

.profile_image {
  border-radius: 3px;
}

.profile_icon,
.profile_image {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.profile_icon,
.user_name,
.date {
  color: #676767;

  text-decoration: none;
}

.star_collection {
  margin-right: 12px;
}
.star {
  color: gold;
  width: 20px;
}

.stars_plus_date {
  display: flex;
}

.widget_bottom {
  margin-top: 12px;
  text-align: center;
}

.company_name {
  text-decoration: none;
  color: blue;
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.company_name:hover {
  text-decoration: underline;
}

.total_reviews {
  text-decoration: none;
  color: #676767;
  display: block;
}

.widget_middle {
  color: #676767;
}

.hr {
  font-weight: 200;
  color: #676767;
  margin: 10px 0;
}

.read_Yelp {
  font-size: 14px;
  color: blue;
  display: block;
}
