@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Linden+Hill&family=Oxygen:wght@300;400&family=Poppins:wght@200;300;400;600;700&display=swap');

.logo {
  margin: 0 auto;
  width: 100px;
}

.homepage {
  background-color: #f9f6f0;
  text-align: center;
}

.section {
  padding-top: 100px;
  color: #383838;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 85%;
  max-width: 950px;
  margin: 0 auto;
}

.hero_pre_heading {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  font-size: max(1vw, 12px);
  font-weight: 500;
  line-height: 1.4;
}

.hero_heading {
  font-family: 'Kalam', cursive;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 3.5vw, 4rem);
  line-height: 1.2;
  color: #3b0404;
  margin: 2% 0;
}

.section_heading {
  font-family: 'Kalam', cursive;
  font-size: 1.75rem;
  line-height: 1.2;
  color: #3b0404;
  margin: 4% 0;
}

.hero_heading_highlight {
  color: #ff5a5f;
}
.hero_subheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: max(1vw, 12px);
  margin-bottom: 30px;
  line-height: 1.4;
  font-style: italic;
}

.section_text {
  max-width: 400px;
  margin: 0 auto;
}

.pillar_grid {
  display: grid;
  gap: 4rem;
}
.pillar_heading {
  font-family: Kalam;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #3b0404;
}

.pillar_subheading {
  font-family: Oxygen;
  font-weight: 500;
  font-size: 18px;
  padding: 14px 0;

  color: #3b0404;
}

.pillar_section_bullet_points {
  padding: 14px 0;
}

.pillar_column {
  width: 85%;
  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 52px;
}

.pillar_column_last {
  padding-bottom: 0px;
}

.pillar_paragraph {
  width: 100%;
  margin: 0;
}
.cta_final {
  padding-bottom: 20px;
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_form,
.map {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
  min-width: 320px;
}

.label {
  font-size: 12px;
  color: grey;
}

.instrument_checkbox_container {
  display: flex;

  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {
  .pillar_column {
    width: 50%;
  }
  .section_text {
    width: 50%;
  }

  .pillar_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
