@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Oxygen:wght@300;400&family=Poppins:wght@200;300;400;600;700&display=swap');

.hero {
  padding: 50px 0;
  background-color: #f9f6f0;
  color: #383838;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.pre_heading {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  line-height: 1.4;
}

.hero_heading {
  font-family: 'Kalam', cursive;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 3.5vw, 4rem);
  line-height: 1.2;
  color: #3b0404;
  margin: 20px 0;
}

.hero_heading_highlight {
  color: #b95c50;
  color: #0054b4;
  color: #f5deb3;
  color: #d21f3c;
  color: #8d021f;
  color: #ff5a5f;
}
.hero_subheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.lesson_links_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 1rem;
  font-size: 12px;
}

.hero_image {
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.lesson_link {
  color: #1c8cf2;
}
