/* mobile first */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  padding: 14px 2%;
  background: white;
  display: flex;
}

.navbar {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 270px;
  height: 15vh;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.5s ease;
  text-align: center;
  margin-right: 25px;
  color: #676767;
}

.navbar.open {
  right: 2%;
}

.navbar a {
  color: #676767;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 15px 15px;

  margin: 10px 10px;

  transition: all 0.5s ease;
  cursor: pointer;
}

.nav_cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 0.7rem;
}

.cta_button {
  background: #0091ea;
  color: white;
  border-radius: 0.6em;
  padding: 0.5em 0.75em;
}

#nav_icon1 {
  width: 40px;
  height: 20px;
  position: relative;
  margin: 0px 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav_icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 60%;
  background: #d3531a;
  background: #ff5a5f;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav_icon1 span:nth-child(1) {
  top: 1px;
}

#nav_icon1 span:nth-child(2) {
  top: 9px;
}

#nav_icon1 span:nth-child(3) {
  top: 17px;
}

#nav_icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav_icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav_icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* larger screens */
@media (min-width: 1090px) {
  .logo {
    display: flex;
    align-items: center;
  }

  .navbar {
    position: static;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .header {
    padding: 14px 10%;
    transition: 0.2s;
  }

  .cta_button {
    margin: 0;
  }

  #nav_icon1 {
    display: none;
  }
}
