.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customerCard {
  color: slate;
  background: #ffa4a9;
  margin: 20px 10px;
  border-radius: 10px;
  width: 310px;
  text-align: start;
  padding: 20px;
}

.deleteButtonFlex {
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  background: white;
  padding: 5px 5px;
  border-radius: 7px;
  margin-bottom: 16px;
}

.deleteButton:hover {
  cursor: pointer;
}

.field_edit {
  margin-bottom: 8px;
}
.printedFields {
  display: inline;
  width: 90%;
  text-align: start;
}

.pencil_icon {
  display: inline-block;
  width: 10%;
  margin-left: 12px;
  padding-top: 3px;
}

.input {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: white;
}
