.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customerCard {
  color: #36454f;
  background: #fffdd1;
  margin: 20px 10px;
  border-radius: 10px;
  width: 310px;
  text-align: start;
  padding: 20px;
}

.deleteButtonFlex {
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  background: white;
  padding: 5px 5px;
  border-radius: 7px;
  margin-bottom: 16px;
}

.deleteButton:hover {
  cursor: pointer;
}

.field_edit {
  margin-bottom: 8px;
}
.printedFields {
  display: inline;
  width: 90%;
  text-align: start;
}

.date {
  font-size: 12px;
}

.instrument {
  display: inline-block;
  text-align: center;
  border: 1px solid grey;
  background: #fffef2;
  border-radius: 20px;
  margin-bottom: 7px;
  margin-right: 7px;
  padding: 0px 7px;
  font-size: 14px;
}
