.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customerCard {
  color: #36454f;
  background: #fffdd1;
  margin: 20px 10px;
  border-radius: 10px;
  width: 310px;
  text-align: start;
  padding: 20px;
  height: 500px;
}

.deleteButtonFlex {
  display: flex;
  justify-content: flex-end;
  color: grey;
}

.deleteButton {
  background: white;
  padding: 5px 5px;
  border-radius: 7px;
  margin-bottom: 16px;
}

.reactIcons {
  height: 20px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.reactIconsSave {
  display: inline-block;
  height: 23px;
  margin-right: 3px;
}

.reactIcons:hover,
.reactIconsSave:hover {
  cursor: pointer;
  color: #2a52be;
}

.deleteButton:hover {
  cursor: pointer;
}

.field_edit {
  margin-bottom: 8px;
  margin-right: 12px;
}

.field_edit_flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.printedFields {
  display: inline;
  width: 90%;
  text-align: start;
}

.date {
  font-size: 12px;
}

.instrument {
  display: inline-block;
  text-align: center;
  border: 1px solid grey;
  background: #fffef2;
  border-radius: 20px;
  margin-bottom: 7px;
  margin-right: 7px;
  padding: 0px 7px;
  font-size: 14px;
}

.input,
.inputNumber {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: 'Poppins', sans-serif;
  width: 250px;
}

.inputNumber {
  width: 170px;
}

.label,
.input {
  display: inline;
}

.errorMessage {
  color: slate;
  font-size: 12px;
}

.formInput {
  margin-right: 16px;
  background: #fffdd1;
}
